{% extends 'base.html' %}
{% load static %}

{% block header %}
<header class="masthead" style="background-image: url('{% static 'base/img/about-bg.jpg' %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Ich hätte da mal ein paar Fragen!</h1>
          <span class="subheading">Es dauert auch bestimmt nicht lang'...</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Hmm, keine Fragen...Ich habe wohl schon genug Antworten.</p>
{% endif %}
{% endblock %}

